## Private
_config/
_database/
_tmp/
__notepad__.py
__notepad__.ipynb

## Compiled and environmental
__pycache__/
.mypy_cache/
*.pyc
~$*
*.spec
.ipynb_checkpoints/
venv/
.venv/
.virtualenv/
.virtualenv-3.6/
.virtualenv-3.7/
virtualenv/
venv-3.7/
venv-3.6/
.venv-3.7/
.venv-3.6/

## Distribution / packaging
build/
dist/
downloads/
eggs/
lib/
lib64/
sdist/
*.egg-info/
*.egg

## Django
*.log
*.sqlite3
_static
_media

## Sphinx documentation
docs/_build/
_build/
.build/
.slide/

## IDE
.idea

## OS
.DS_Store
