
# atlassian-python-api
# black
# coverage
# cython
# dajngo-extensions
# django-debug-toolbar
# dnspython
# jupyter
# keras
# matplotlib
# mypy
# numpy
# pandas
# paramiko
# pillow
# plotly
# pycodestyle
# pylama[all]
# pylint
# pysftp
# scikit-learn
# scipy
# suds
# tensorflow
# torch
# uvicorn
# zeep
## Auth
## Celery
## Database
## Test
## code examples in oop/operators.rst
BeautifulSoup4
IPython
aiosqlite
alembic
bcrypt
celery
django
django-celery-beat
django-celery-results
django-ninja
fastapi
html5lib
httpx
lxml
matplotlib
numpy
openpyxl
pandas
passlib[bcrypt]
psycopg2-binary
pydantic
pydantic[email]  # pip install 'pydantic[email]'
python-jose[cryptography]
python-multipart
pytz
redis
requests
scipy
sphinx==5.3.*
sphinx_rtd_theme
sphinxcontrib-bibtex
sqlalchemy
uvicorn[standard]
xlrd
