sphinx==3.4.*
sphinx_rtd_theme
sphinxcontrib-bibtex==2.0.*
recommonmark
nbsphinx

# sphinxcontrib-book
# sphinxjp.themes.revealjs


# Required by doctests for code listings
numpy
pandas
matplotlib
django
