
# atlassian-python-api
# django
# django-debug-toolbar
# dnspython
# jupyter
# keras
# matplotlib
# mypy
# numpy
# pandas
# paramiko
# pillow
# plotly
# pycodestyle
# pysftp
# scikit-learn
# scipy
# suds
# tensorflow
# torch
# zeep
## Auth
## Database
## Test
## code examples in oop/operators.rst
BeautifulSoup4
aiosqlite
alembic
bcrypt
fastapi
html5lib
httpx
ipython
lxml
matplotlib
numpy
openpyxl
pandas
passlib[bcrypt]
psycopg2-binary
pydantic[email]  # pip install 'pydantic[email]'
python-jose[cryptography]
python-multipart
requests
scipy
sphinx==4.5.*
sphinx_rtd_theme
sphinxcontrib-bibtex
sqlalchemy
uvicorn[standard]
xlrd
