requests
pycodestyle
mypy
line_profiler


##########
# Django #
##########
django
django-debug-toolbar
pillow


####################
# Machine Learning #
####################
matplotlib
numpy
scikit-learn
scipy
jupyter
pandas
plotly
