{% extends "ksiazkaadresowa/base.html" %}

{% load i18n %}
{% load static %}
{% load addressbook %}
{% load tz %}

{% block title %}{% trans "Contacts" %}{% endblock %}

{% block css %}
    <style>
        th.last_name {color: blue}
        td.last_name {color: green}
        img {width: 15rem;}
        .red {color: red}
        .gray {color: gray}
    </style>
{% endblock %}


{% block content %}
    <h1>{% trans "Hello" %}</h1>
    <img src="{% static "ksiazkaadresowa/img/logo.jpg" %}">


    <table>
        <thead>
            <tr>
                <th class="first_name">{% trans "First Name" %}</th>
                <th class="last_name">{% trans "Last Name" %}</th>
                <th class="date_of_birth">{% trans "Date of birth" %}</th>
                <th class="adult">{% trans "Status" %}</th>
            </tr>
        </thead>

        <tbody>
        {% for contact in contacts %}

            <tr>
                <td class="first_name">{{ contact.first_name |lower |upper }}</td>
                <td class="last_name">{{ contact.last_name |title }}</td>
                <td class="date_of_birth
                    {% if contact.date_of_birth %}
                        red
                    {% else %}
                        gray
                    {% endif %}
                ">{{ contact.date_of_birth |localtime |date:"Y-m-d" |default:"n/a" }}</td>
                <td class="avatar"><img src="/media/{{ contact.image }}"></td>
                <td class="adult">{% czy_pelnoletni contact %}</td>
            </tr>

        {% endfor %}
        </tbody>
    </table>

{% endblock %}
