ipython

# FastAPI
fastapi
uvicorn[standard]
pydantic
pydantic[email]  # pip install 'pydantic[email]'
sqlalchemy
aiosqlite

# Auth
bcrypt
passlib[bcrypt]
python-jose[cryptography]
python-multipart

# Test
requests
httpx
