ipython

# FastAPI
FastAPI
uvicorn
uvicorn[standard]
pydantic
pydantic[email]  # pip install 'pydantic[email]'

# Database
sqlalchemy
aiosqlite
alembic

# Auth
bcrypt
passlib
passlib[bcrypt]
python-jose[cryptography]
python-multipart

# Test
requests
httpx
